In [ ]:
# Importando biblioteca pandas
import pandas as pd

In [ ]:
# Lendo o arquivo CSV, separando por Ponto e virgula e ignorando erros
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasheets/Gapminder.csv', error_bad_lines = False, sep = ';')

In [ ]:
# Visualiza as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
# Renomeando colunas
df = df.rename(columns={'country':'País', 'continent':'Continente', 'year':'Ano', 'lifeExp':'Exp de Vida', 'pop':'População', 'gdpPercap':'PIB'})

In [ ]:
# Mostrando as 10 primeiras Linhas
df.head(10)

          País Continente   Ano  Exp de Vida  População         PIB
0  Afghanistan       Asia  1952       28.801    8425333  779.445314
1  Afghanistan       Asia  1957       30.332    9240934  820.853030
2  Afghanistan       Asia  1962       31.997   10267083  853.100710
3  Afghanistan       Asia  1967       34.020   11537966  836.197138
4  Afghanistan       Asia  1972       36.088   13079460  739.981106
5  Afghanistan       Asia  1977       38.438   14880372  786.113360
6  Afghanistan       Asia  1982       39.854   12881816  978.011439
7  Afghanistan       Asia  1987       40.822   13867957  852.395945
8  Afghanistan       Asia  1992       41.674   16317921  649.341395
9  Afghanistan       Asia  1997       41.763   22227415  635.341351

In [ ]:
# Retorna total de linhas e colunas
df.shape

(3312, 6)

In [ ]:
# Retorna quais colunas estão presentes no arquivo
df.columns

Index(['País', 'Continente', 'Ano', 'Exp de Vida', 'População', 'PIB'], dtype='object')

In [ ]:
# Retorna os tipos dos dados
df.dtypes

País            object
Continente      object
Ano              int64
Exp de Vida    float64
População        int64
PIB            float64
dtype: object

In [ ]:
# Retorna as ultimas linhas
df.tail(10)

          País Continente   Ano  Exp de Vida  População         PIB
3302  Zimbabwe     Africa  1962       52.358    4277736  527.272182
3303  Zimbabwe     Africa  1967       53.995    4995432  569.795071
3304  Zimbabwe     Africa  1972       55.635    5861135  799.362176
3305  Zimbabwe     Africa  1977       57.674    6642107  685.587682
3306  Zimbabwe     Africa  1982       60.363    7636524  788.855041
3307  Zimbabwe     Africa  1987       62.351    9216418  706.157306
3308  Zimbabwe     Africa  1992       60.377   10704340  693.420786
3309  Zimbabwe     Africa  1997       46.809   11404948  792.449960
3310  Zimbabwe     Africa  2002       39.989   11926563  672.038623
3311  Zimbabwe     Africa  2007       43.487   12311143  469.709298

In [ ]:
# Obtem informações estatisticas
df.describe()

               Ano  Exp de Vida     População            PIB
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165877
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [ ]:
# Retorna os valores unicos presentes na coluna Continente
df['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
# Retorna os valores unicos presentes na coluna País
df['País'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macao, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
# Filtrando os dados continente Oceania
Oceania = df.loc[df['Continente']=='Oceania'] 
Oceania.head(100)

                 País Continente   Ano  Exp de Vida  População          PIB
975              Fiji    Oceania  1962       56.494     421869  2039.393277
976              Fiji    Oceania  1967       58.607     485000  2170.073285
977              Fiji    Oceania  1972       60.642     544000  2797.759484
978              Fiji    Oceania  1977       62.669     599339  3182.569600
979              Fiji    Oceania  1982       64.683     658906  3209.257468
...               ...        ...   ...          ...        ...          ...
2696  Solomon Islands    Oceania  1987       55.785     300694  1783.648762
2697  Solomon Islands    Oceania  1992       58.270     358713  2109.894257
2698  Solomon Islands    Oceania  1997       60.708     424265  2252.491044
2699  Solomon Islands    Oceania  2002       62.274     494786  1530.496068
2700  Solomon Islands    Oceania  2007       63.570     566842  1829.317402

[74 rows x 6 columns]

In [ ]:
Oceania['Continente'].unique()

array(['Oceania'], dtype=object)

In [ ]:
# Retorna quantos paises tem para cada continente
df.groupby('Continente')['País'].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [ ]:
# Retorna a expectativa media de vida
df.groupby('Ano')['Exp de Vida'].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: Exp de Vida, dtype: float64

In [ ]:
# Média de todos os PIB
df['PIB'].mean()

11317.115804696637

In [ ]:
# Soma de todos os PIB
df['PIB'].sum()

37482287.5451553

In [ ]:
# Menores PIB por ano
df.groupby('Ano')['PIB'].min()

Ano
1950     712.398091
1951    1113.333184
1952     298.846212
1953     508.945869
1954     511.082918
1955     526.743960
1956     560.439950
1957     335.997115
1958     622.498589
1959     616.192186
1960     591.817047
1961     492.006281
1962     355.203227
1963     520.690017
1964     566.294791
1965     613.454987
1966     649.698960
1967     349.000000
1968     582.400771
1969     612.546101
1970     665.783656
1971     677.010147
1972     357.000000
1973     707.753014
1974     701.920061
1975     728.996591
1976     710.379574
1977     371.000000
1978     807.626032
1979     854.617239
1980     868.588114
1981     904.831260
1982     424.000000
1983    7923.030100
1984    8301.979654
1985    8037.950013
1986    8236.461605
1987     385.000000
1988    8179.010541
1989    8025.266041
1990    6807.781057
1991    6693.188400
1992     347.000000
1993    5528.263371
1994    4419.117751
1995    3909.539358
1996    3548.689544
1997     312.188423
1998    3435.906978
1999    3460.323855
2000    3700.350923
2001    4082.186353
2002     241.165877
2003    4781.145856
2004    5400.284939
2005    5583.000000
2006    6039.513130
2007     277.551859
Name: PIB, dtype: float64

In [ ]:
# Maiores PIB por ano
df.groupby('Ano')['PIB'].max()

Ano
1950     14554.95629
1951     14816.89924
1952    108382.35290
1953     15055.82564
1954     15739.39579
1955     16626.48550
1956     17501.93196
1957    113523.13290
1958     17284.27073
1959     18161.48966
1960     19059.00518
1961     20041.21634
1962     95458.11176
1963     20977.26759
1964     21712.09454
1965     22190.77302
1966     22533.03847
1967     80894.88326
1968     23522.13088
1969     24527.55211
1970     25862.81920
1971     26593.26926
1972    109347.86700
1973     27851.75724
1974     28174.32841
1975     26353.03028
1976     26270.86866
1977     72555.22854
1978     27023.43582
1979     27617.11846
1980     28732.36608
1981     29003.26953
1982     62407.21057
1983     28396.88917
1984     29606.07112
1985     30435.46678
1986     33355.97899
1987     53585.90355
1988     37373.59064
1989     40736.66326
1990     42467.63837
1991     45750.52091
1992     49174.40543
1993     47055.53084
1994     48284.01468
1995     48165.25860
1996     49005.58853
1997     52938.65287
1998     55788.95866
1999     59349.52097
2000     63924.16270
2001     63932.84480
2002     64421.03482
2003     65308.34204
2004     67283.43435
2005     70014.00000
2006     48264.67270
2007     82010.97804
Name: PIB, dtype: float64

In [ ]:
# Retorna a media do PIB mundial a cada ano
df.groupby('Ano')['PIB'].mean()

Ano
1950     5788.110310
1951     7166.681214
1952     3800.766586
1953     7285.913057
1954     7559.357116
1955     7906.255157
1956     8146.745638
1957     4358.649181
1958     8329.075477
1959     8637.004923
1960     9311.447138
1961     9657.449230
1962     4771.034659
1963    10302.720880
1964    10880.002666
1965    11009.436198
1966    11407.936949
1967     5640.614937
1968    12095.218086
1969    12717.193129
1970    13193.384595
1971    13653.770833
1972     7612.258069
1973    13910.290788
1974    15255.035599
1975    15174.660729
1976    15647.201655
1977     8410.910865
1978    16385.250063
1979    16882.201717
1980    17198.892959
1981    17323.687800
1982     8553.177670
1983    18293.203295
1984    18935.839670
1985    19371.587500
1986    19941.491785
1987     8799.155313
1988    21020.910260
1989    21583.937476
1990    19945.549401
1991    19894.172876
1992     8960.826471
1993    19541.867254
1994    19962.678837
1995    20389.866909
1996    20857.618679
1997     9769.397157
1998    22261.291074
1999    22965.892403
2000    23866.074105
2001    24237.995166
2002    10657.928831
2003    25046.668079
2004    25949.492592
2005    26509.633333
2006    27249.624396
2007    12403.126861
Name: PIB, dtype: float64